.player
  color: white
  font-size: 1.6rem
  padding: .5rem
  border: .3rem solid transparent
  border-radius: .6rem

  ul
    list-style: none
    padding: 0

.boards
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr))
  justify-items: center
  gap: 2rem
  margin: 0 auto 3rem
  padding: 3rem 2rem 0

.matrix
  transition: all 400ms linear 100ms

  .layer
    transition: all 400ms linear

    .row .column
        transition: all 250ms cubic-bezier(.19,1,.22,1) 50ms
