@import "bourbon/bourbon"

html
  font-size: 62.5%

html, body
  background-color: #333
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  text-align: center
  font-family: Verdana, Geneva, sans-serif

.main-menu-form
  margin: 0 auto 3rem
  padding-top: 3rem
  max-width: 400px

  label
    color: white
    font-size: 1.6rem

  input
    margin: 1rem 2rem
    font-size: 1.6rem
    border-radius: .6rem
    border: none
    background-color: white

    &:not([type='checkbox'])
      display: block
      margin: 1rem auto
      padding: .4rem .6rem
      width: 18rem

  input[type='submit']
    font-weight: 700
    color: #777
    width: 12rem
    border-bottom: .4rem solid #777

    &:hover
      color: green
      border-bottom: .4rem solid green

  .form-group
    width: 50%
    display: inline-block
    margin: 1rem auto

    label
      display: block

.player
  color: white
  font-size: 1.6rem
  display: inline-block
  min-width: 370px
  min-width: 37em
  width: 50%
  margin: 10px auto
  margin: 1em auto

  ul
    list-style: none
    padding: 0

.boards
  margin: 0 auto 3rem
  padding-top: 3rem

.matrix
  font-size: 1rem
  position: relative
  transition: all 600ms linear 400ms

  .layer
    display: inline-block
    position: relative
    margin: 0 auto
    border: 2px solid #333
    border: 0.2em solid #333
    transition: all 600ms linear

    .row
      display: flex

      .column
        height: 35px
        height: 3.5em
        width: 35px
        width: 3.5em
        border: 1px solid #333
        border: 0.1em solid #333
        background-color: blue
        cursor: pointer
        display: inline-block
        transition: all 350ms cubic-bezier(.19,1,.22,1) 50ms

        &:hover
          opacity: 0.7

.final-scores

  input
    margin: 1rem 2rem
    font-size: 1.6rem
    border-radius: .6rem
    border: none
    background-color: white
    font-weight: 700
    color: #777
    width: 12rem
    border-bottom: .4rem solid #777

    &:hover
      color: green
      border-bottom: .4rem solid green

  .score-cards
    display: block
    padding: 3rem 2rem
    margin: 0 auto

    .score-card
      display: inline-block
      margin: 1rem
      color: white
      font-size: 1.6rem
